<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/footer.css" />
    </head>
    <body>
        <div class="footer">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 left-content">
                            <p class="nickName">
                                <strong>Flag Shop XIN CHÀO</strong>
                            </p>
                            <p>
                                <span
                                    ><b>Flag Shop </b>được phát triển bởi
                                    <b>Công ty ANT</b></span
                                ><span
                                    >Đội ngũ chúng tôi mang lại cho khách hàng
                                    một sự trải nghiệm đáng nhớ nhất. Chúng tôi
                                    luôn mong rằng tình cảm của các bạn cũng
                                    nhiệt huyết như những chuyến đi bởi lẽ tình
                                    cảm có lẽ là thứ tồn tại cuối cùng sau tất
                                    cả !</span
                                ><span
                                    >Một lần nữa chúng tôi xin cảm ơn bạn đã
                                    trải nghiệm dịch vụ tại
                                    <b>Flag Shop </b></span
                                >
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-12">
                                    <label class="my-2"
                                        >Hãy để lại thông tin để nhận
                                        email</label
                                    ><input
                                        class="form-control"
                                        placeholder="eg: ts@gmail.com"
                                    />
                                </div>
                                <div class="col-12 my-3">
                                    <button
                                        class="ms-auto d-block btn btn-success"
                                    >
                                        Nhận thông tin
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-12 d-flex fsoesdsds-s align-items-center"
                        >
                            <p>
                                <span class="me-3"
                                    >Liên hệ đến chúng tôi qua</span
                                ><span
                                    ><a class="mx-2" href="//"
                                        ><i class="bi bi-github"></i></a
                                    ><a class="mx-2" href="//"
                                        ><i class="bi bi-facebook"></i></a
                                ></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
