@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.cart-wrapper-icon {
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2px solid #ccc;
    z-index: 998;
    bottom: 90px;
    right: 20px;
    cursor: pointer;

    img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        border-radius: 50%;
    }

    .jsx-count-cart {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #50af00;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        left: -6px;
    }

    &:hover {
        opacity: 0.8;
    }
}
